{% extends "crm_app/base.html" %}
{% load staticfiles %}
{#<html>#}
{#<head lang="en">#}
{#    <meta charset="UTF-8">#}
{#    <title>LOGOUT</title>#}
{##}
{#    <link rel="stylesheet" href="{% static 'shwekd/css/materialize.css' %}">#}
{##}
{#    <link rel="stylesheet" href="{% static 'shwekd/css/materialize.min.css' %}">#}
{##}
{##}
{#    <link rel="stylesheet" href="{% static 'shwekd/js/materialize.min.js' %}">#}
{##}
{#    <link rel="stylesheet" href="{% static 'shwekd/js/materialize.js' %}">#}
{#</head>#}



{#<<< CUSTOMISED BULLET LIST>>>#}
{##}
{#ul {#}
{#  list-style: none;#}
{#  margin-left: 0;#}
{#  padding-left: 0;#}
{# } #}
{##}
{#li {#}
{#  padding-left: 1em;#}
{#  text-indent: -1em;#}
{# } #}
{##}
{#li:before {#}
{#  content: "+";#}
{#  padding-right: 5px;#}
{# } #}




{#<<< CUSTOMISED BULLET LIST>>>#}


































{% block main %}

{#<html>#}
{#<head>#}
{#<!-- Compiled and minified CSS -->#}
{#  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">#}
{##}
{#  <!-- Compiled and minified JavaScript -->#}
{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>#}
{#          <!DOCTYPE html>#}
{# <link href="css/prism.css" rel="stylesheet">#}
{#    <link href="css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">#}
{#    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">#}
{#    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
{#<script src="//cdn.transifex.com/live.js"></script>#}
{##}
{# <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="msapplication-tap-highlight" content="no">#}
{#    <meta name="description" content="Materialize is a modern responsive CSS framework based on Material Design by Google. ">#}
{#    <title>Collapsible - Materialize</title>#}
{#    <!-- Favicons-->#}
{#    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">#}
{#    <meta name="msapplication-TileColor" content="#FFFFFF">#}
{#    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">#}
{#    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">#}
{#    <!--  Android 5 Chrome Color-->#}
{#    <meta name="theme-color" content="#EE6E73">#}
{#    <!-- CSS-->#}
{#    <link href="css/prism.css" rel="stylesheet">#}
{#    <link href="css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">#}
{#    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">#}
{#    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
{#    <script>#}
{#      window.liveSettings = {#}
{#        api_key: "a0b49b34b93844c38eaee15690d86413",#}
{#        picker: "bottom-right",#}
{#        detectlang: true,#}
{#        dynamic: true,#}
{#        autocollect: true#}
{#      };#}
{#    </script>#}
{#    <script src='{% static "crm_app/js/live.js"%}'></script>#}
{#</head>#}
{#<body>#}
{##}
{#<h1>My First Heading</h1>#}
{# <ul class="collapsible popout" data-collapsible="accordion">#}
{#    <li>#}
{#      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>#}
{#      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>#}
{#    </li>#}
{#    <li>#}
{#      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>#}
{#      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>#}
{#    </li>#}
{#    <li>#}
{#      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>#}
{#      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>#}
{#    </li>#}
{#  </ul>#}
{##}
{#<p>My first paragraph.</p>#}
{#  $(document).ready(function(){#}
{#    $('.collapsible').collapsible({#}
{#      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style#}
{#    });#}
{#  });#}
{##}
{#<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>#}
{#    <script>if (!window.jQuery) { document.write('<script src="bin/jquery-2.1.1.min.js"><\/script>'); }#}
{#    </script>#}
{##}
{#    <script type="text/javascript" src="{%  static "crm_app/js/jquery.timeago.min.js" %}"></script>#}
{#    <script type="text/javascript" src="{%  static "crm_app/js/prism.js" %}"></script>#}
{#    <script type="text/javascript" src="{%  static "crm_app/js/lunr.min.js" %}"></script>#}
{#    <script type="text/javascript" src="{%  static "crm_app/js/search.js" %}"></script>#}
{#    <script type="text/javascript" src="{%  static "crm_app/js/materialize.js" %}"></script>#}
{#    <script type="text/javascript" src="{%  static "crm_app/js/jquery.timeago.min.js" %}"></script>#}
{##}
{#    <!-- Twitter Button -->#}
{#    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>#}


{#</body>#}
{#</html>#}











<style>

            .card .card-content{

                overflow: auto;

            }

</style>






<body>

    <!-- Floating Action Button -->
                   <div class="fixed-action-btn" style="top: 90px; right: 15px;">
                       <a class="btn-floating btn-large red">
                         <i class="large mdi-action-language"></i>
                       </a>
                       <ul>
                           <li><a href="/ca_engg/team/" class="btn-floating pink tooltipped" data-position="left" data-delay="50" data-tooltip="TEAM"><i class="large mdi-social-group"></i></a></li>
                           <li><a href="/ca_engg/stories/" class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="SUCCESS STORIES"><i class="large mdi-hardware-security"></i></a></li>
                         <li><a href="/ca_engg/training/" class="btn-floating orange tooltipped" data-position="left" data-delay="50" data-tooltip="TRAINING"><i class="large mdi-hardware-laptop-chromebook"></i></a></li>
                           <li><a href="/ca_engg/gallery/" class="btn-floating blue tooltipped" data-position="left" data-delay="50" data-tooltip="GALLERY"><i class="large mdi-image-collections"></i></a></li>
                           <li><a href="/ca_engg/our_niche/" class="btn-floating green tooltipped" data-position="left" data-delay="50" data-tooltip="OUR NICHE"><i class="large mdi-image-center-focus-strong"></i></a></li>
            <li><a href="/ca_engg/careers/" class="btn-floating pink tooltipped" data-position="left" data-delay="50" data-tooltip="CAREER"><i class="large mdi-social-person-outline"></i></a></li>
       <li><a href="http://www.consultadd.com" target="_blank" class="btn-floating blue tooltipped" data-position="left" data-delay="50" data-tooltip="ABOUT US"><i class="large mdi-action-account-balance-wallet"></i></a></li>
                       </ul>
                   </div>
                   <!-- Floating Action Button -->



<br> <a href="/ca_engg/live_pdf/"><i style="font-size: 30px"  class="mdi-action-system-update-tv left tooltipped " data-position="right" data-delay="50" data-tooltip="DOWNLOAD" ></i></a>

 <div class="row">
        <div class="col s12 m12">
          <div class="card red lighten-1">
            <div class="card-content white-text">



<ul class="chat-collapsible" data-collapsible="expandable">
    {% for k,v in d.iteritems %}

        <li>
            <div  style="background-color: mintcream" class="collapsible-header black-text"><strong>{{ k.upper }}</strong><i style="font-size: 2.6rem"class=" material-icons">play_for_work</i></div>
            <div class="collapsible-body sales-repoart">
                <div class="sales-repoart-list  chat-out-list row">
                    <div class="row">
                        <div style="background-color: white" class="col s12 m12">
                            <div class="card black darken-1">
                                <div class="card-content white-text">
                                    <table>
                                    <tr>
                                    {% for i in col %}

                                        <th>

                                        {{ i }}

                                        </th>

                                        {% endfor %}
                                    </tr>



                                        {% for kd in v%}
                                    <tr>
                                        {% for jd in kd %}
                                            {% if jd == '' %}

                                        <td>------</td>

                                        {% else %}

                                        <td>{{ jd }}</td>

                                            {% endif %}
                                    {% endfor %}

                                            </tr>

                                    {% endfor %}

                                    </table>
{#                                    <span class="card-title">Card Title</span>#}
                                </div>
                                {#            <div class="card-action">#}
                                {#              <a href="#">This is a link</a>#}
                                {#              <a href="#">This is a link</a>#}
                                {#            </div>#}
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </li>
{% endfor %}
</ul>
            </div>

          </div>
        </div>
      </div>
<table style="width:100%">
{#  <tr>#}
{#        {% for k in b_json %}#}
{#      {% for k in v %}#}
{#<tr>#}
{#            {% for d in k %}#}
{#          <th>{{ d }}</th>#}
{#         {% endfor %}#}
{#</tr>#}
{#            {% endfor %}#}
{##}
{##}
{#<<<<<<<<<<<<<<<<<<<< SPREADSHEET>>>>>>>>>>>>>>>>>>>>>>>>#}

{#<tr>#}
{#    {% for cn in col %}#}
{#    <th>#}
{#    {{ cn }}#}
{##}
{#    </th>#}
{##}
{##}
{#    {% endfor %}#}
{##}
{##}
{#</tr>#}


{#<ONLY ROW DATA>#}

{#    #}
{#    {% for i,v in d.iteritems %}#}
{##}
{#    {% if i == 'Radha' %}#}
{#{{ v }}#}
{#    {%   endif%}#}

{#{% endfor %}#}


{#</ONLY>#}
{##}
{#        {% for k,v in d.iteritems %}#}
{#      {% for k in v %}#}
{#<tr>#}<tr style="opacity: .1"></tr>
{#            <tr style="opacity: .1"></tr>#}
{#    <th>{{ k.upper }}</th>#}
{#</tr>#}
{#<table>#}
{##}
{#<tr>#}
{#    {% for ii in col %}#}
{#    <th>#}
{#        {{ ii }}#}
{#    </th>#}
{#        {% endfor %}#}
{#</tr>#}
{##}
{##}
{##}
{#    {% for kd in v%}#}
{#    <tr>#}
{#        {% for jd in kd %}#}
{#            {% if jd == '' %}#}
{##}
{#        <td>---Record NA---</td>#}
{##}
{#        {% else %}#}
{##}
{#        <td>{{ jd }}</td>#}
{##}
{#            {% endif %}#}
{#    {% endfor %}#}
{##}
{#            </tr>#}
{##}
{#    {% endfor %}#}
{##}
{#</table>#}<br>
{#</tr>#}
{#            {% endfor %}#}
{##}








{#        {% for k in best %}#}
{#      {% for k in v %}#}
{#<tr>#}
{#            {% for d in k %}#}
{#          <th>{{ d }}</th>#}
{#         {% endfor %}#}
{#</tr>#}
{#            {% endfor %}#}







{#<<<<<<<<<<<<<<<<<<<< SPREADSHEET>>>>>>>>>>>>>>>>>>>>>>>>#}


{#  <tr>#}
{#    <td>Eve</td>#}
{#    <td>Jackson</td> #}
{#    <td>94</td>#}
{#  </tr>#}
</table>


</body>
{% endblock %}
{#</html>#}