<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>LOGOUT</title>

    <link rel="stylesheet" href="{% static 'shwekd/css/materialize.css' %}">

    <link rel="stylesheet" href="{% static 'shwekd/css/materialize.min.css' %}">


    <link rel="stylesheet" href="{% static 'shwekd/js/materialize.min.js' %}">

    <link rel="stylesheet" href="{% static 'shwekd/js/materialize.js' %}">
</head>
<body>

<h2 class ="waves-light" style="background-color: lightseagreen; margin-left: 750px" >LOGGED Out</h2>

<a href="/getmail/login/">Try Again</a>

</body>
</html>