<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Account</title>
</head>
<body>
<h3>have fun</h3>
{% if msg %}
<ul class="messages">
    {% for message in msg %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<br>
<b>ACCOUNT LIST:</b><br>
<span><b>{{ account_obj.company_name }}</b></span>
<br>
<span><u>{{ account_obj.status }}</u></span>
<br>
<span><i>{{ account_obj.category }}</i></span>
<br>
<b>PROJECTS INFO:</b><br>
{% for i in project_names %}
        <pre>
            <a href="{% url 'view_project' company_name=account_obj.company_name project_name=i %}"><span><t><b>{{ i }}</b></t></span><br></a>
        </pre>
    <br>
{% endfor %}
<br>
<b>CONTACT INFO:</b><br>
{% for i in contact_list %}
    <pre>
        <a href="{% url 'view_contact' company_name=account_obj.company_name id=i.0 %}"><span><t><b>{{ i.2 }}</b></t></span></a><br>
    </pre>
    <br>
{% endfor %}
<br>
<b>MEETINGS INFO:</b><br>
{% for i in meeting_notes %}
    <pre>
        <a href="{% url 'view_meeting' company_name=account_obj.company_name %}"><span><t><b>{{i }}</b></t></span><br></a>
    </pre>
    <br>
{% endfor %}
</body>
</html>