<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View All Projects</title>
</head>
<body>
<h3>have fun</h3>
{% if msg %}
    <ul class="messages">
        {% for message in msg %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<br>
<b>PROJECTS LIST:</b><br>
{% for i in all_projects %}
    <pre>
    <a href="{% url 'view_account' company_name=i.0 %}"><span><t><b>{{ i.0 }}</b></t></span></a>
    <a href="{% url 'view_project' company_name=i.0 project_name=i.1 %}"><span><t><b>{{ i.1 }}</b></t></span></a>
    <br>
    </pre>
{% endfor %}
<br>
</body>
</html>